.SVG {
  display: inline-block;
  vertical-align: top;
}

.Title {
  display: inline-block;
  margin: 6px 0 6px 10px;
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  vertical-align: top;
}

.Wrapper button + button {
  margin-left: 10px;
}
