/* purgecss start ignore */
@import 'tailwindcss/base';

/* purgecss end ignore */
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*,
* > *,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  *,
  * > *,
  *::before,
  *::after {
    transition: none !important;
    animation: none !important;
  }
}

html {
  width: 100%;
  height: -webkit-fill-available;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 1rem;
  font-family: system, -apple-system, '.SFNSText-Regular', 'San Francisco',
    'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  line-height: 1.618rem;
  font-variant-ligatures: common-ligatures;
}
