.Title {
  margin-top: 1em;
  margin-bottom: 0.618em;
  font-size: 4rem;
  line-height: 1.15;
  text-align: center;
}

.Description {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}

.Description a,
.Description button {
  display: block;
  max-width: max-content;
  margin: 0 auto;
  margin-bottom: 1em;
}
